.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  z-index: 20;
  padding: 0.3em 1em 0.5em;
  font-size: 2em;
  font-weight: 700;
  background-color: rgba(36, 36, 36, 0.7);
}

.main {
  margin: 0 20px;
}

.show-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

.link {
  padding: 0 20px;
  transition: 0.8s;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.line {
  width: 50%;
  height: 4px;
  margin: auto;
  border-width: 0;
  background-color: white;
  transition: 0.8s;
}

.link:hover .line {
  width: 100%;
}

.active .line {
  background-color: var(--primary-color);
  width: 100%;
}
