@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --primary-color: #ef67f1;
  --background-color: #242424;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background-color: var(--background-color);
  color: white;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 15px;
}

.alias {
  color: var(--primary-color);
  font-weight: 700;
}

.title-line {
  width: 50%;
  height: 4px;
  margin: auto;
  border-width: 0;
  background-color: var(--primary-color);
  transition: 0.8s;
}

.section-divider {
  width: 70%;
  height: 2px;
  margin: 1.5em auto;
  border-width: 0;
  background-color: #fff;
  transition: 0.8s;
}
