@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --primary-color: #e368f3;
  --background-color: #242424;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background-color: var(--background-color);
  color: white;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 3.75em;
  line-height: 1.2;
  margin-bottom: 15px;
}

.alias {
  color: var(--primary-color);
  font-weight: 700;
  font-size: inherit;
}

.title-line {
  width: 50%;
  height: 4px;
  margin: auto;
  border-width: 0;
  background-color: var(--primary-color);
  transition: 0.8s;
}

.section-divider {
  width: 70%;
  height: 2px;
  margin: 1.5em auto;
  border-width: 0;
  background-color: #fff;
  transition: 0.8s;
}

@media only screen and (max-width: 960px) {
  * {
    font-size: 14px;
  }
  .experiences {
    width: 90% !important;
    transition: 0.8s;
  }

  .skills {
    width: 90% !important;
  }

  .navbar {
    justify-content: center !important;
  }

  .desc {
    width: 90% !important;
  }

  .jobName hr {
    width: 60% !important;
  }

  .project {
    width: 95% !important;
  }

  .project-name hr {
    width: 50% !important;
  }
  .project-img {
    display: none;
  }
}
